<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="css/reset.css"            rel="stylesheet">
        <link href="css/three-col.css"        rel="stylesheet">
        <link href="css/index_compressed.css" rel="stylesheet">
   <!-- <link href="css/index_left.css"       rel="stylesheet"> -->
        <link href="css/index_middle.css"     rel="stylesheet">
   <!-- <link href="css/index_right.css"      rel="stylesheet"> -->

        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script src="js/html5shiv-printshiv.js"></script>
        <![endif]-->

        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
        <link rel="icon"          href="images/favicon.ico" type="image/x-icon" />

        <link rel="search"        href="http://search.freefind.com/find.html?id=82328757" />

        <!--                                      -->
        <!-- PHILADELPHIA REFLECTIONS             -->
        <!-- George R. Fisher III MD              -->
        <!--                                      -->
        <!-- (c) 2004 - {{ copyright_end_year  }}                      -->
        <!--                                      -->

        <!-- geo tags for 3 S Haddon Ave Suite 4 Haddonfield, NJ 08033-1882 -->
        <meta name="ICBM"                       content="39.898043, -75.031341" />

        <meta name="geo.country"                content="US" />
        <meta name="geo.region"                 content="US-NJ" />
        <meta name="geo.position"               content="39.898043; -75.031341" />
        <meta name="geo.placename"              content="Ross & Perry Book Publishers" />

        <title>Philadelphia Reflections</title>

        <style media="print">
            object, header, footer, .left-section, .right-section, .comment_entry_form, .overallFrame {
                display:none;
            }
        </style>

        <!-- below are the adaptations for smaller screens
             736 is the width of an iPhone 6 Plus in landscape mode -->
        <meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1.0,maximum-scale=1.0" />
        <style media="only screen
                      and (max-device-width: 750px)">
            .left-section, .right-section, .comment_entry_form, .overallFrame {
                display: none;
            }
            body {
                -webkit-text-size-adjust: 100%;
                font-size: 100%;
            }
            body > header {
                margin: 0; padding: 5px;
            }
            body > header h1 {
                font-size: 1.25em;
            }
            body > header h2 {
                font-size: 0.70em;
            }
            .middle-section {
                width: 100%;
            }
            .middle-section p {
                font-size: 1.0em;
            }
            .header_search_blurb {
                display: none;
            }
        </style>

    </head>

    <body>

        <header>
            <h1>Philadelphia Reflections</h1>
            <h2>The musings of a physician who has served the community for over six decades</h2>
       </header>

        <div class="container">

            <div class="left-section">
                {% include 'inc/freeform.inc' %}

                <p class='topicsColumnTop' style='-moz-border-radius: 5px;border-radius: 5px;'>
                    <a href='http://philadelphia-reflections.com/displayTopicsBlogs.php?order=moddate&amp;table=topics'>
                        {{nTopics}} Topics</a></p>

                {%  for topic in topic_list %}

                <p class='topicsColumn'>
                    <a class='topicsColumnLink' href='{{"http://www.philadelphia-reflections.com/topic/#{topic.table_key}.htm"}}'</a>
                    {{topic.title|raw}}</a>
                    <br>{{topic.description|raw}}</p>
                {% else %}
                    Empty topic_list provided to template
                {% endfor %}

            </div> <!-- class="left-section" -->

            <div class="middle-section">
                <header class="middle_header">
                    <p style="margin:0;padding:0;font-size:125%;"><span style="font-weight:bold">Philadelphia Reflections</span> is a history of the area around Philadelphia, PA
                        ... William Penn's Quaker Colonies
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;<span style='font-style:italic;'>plus medicine, economics and politics</span> ... {{ nBlogs }} articles in all <br><br>
                        <span class="header_search_blurb">
                              Try the search box to the left if you don't see what you're looking for.
                        <br><br></span>
                        <span class="header_api_blurb" style='font-style: italic;font-size: smaller;'>
                            api.php will return all the information for any blog, topic or volume in JSON format
                        </span>
                    </p>
                </header>

                {%  for blog in blog_list %}

                <div class='middle_blog'>
                    <h3><a href='{{"http://www.philadelphia-reflections.com/blog/#{blog.table_key}.htm"}}'>
                            {{blog.title|raw}}</a></h3>
                    {{blog.blog_contents|raw}}
                </div>
                {% else %}
                    Empty blog_list provided to template
                {% endfor %}

            </div> <!-- class="middle-section"  -->

            <div class="right-section">
                {% include 'inc/newsletter_subscription.inc' %}

                <p class='topicsColumnTop' style='-moz-border-radius: 5px;border-radius: 5px;'>
                    <a href='http://philadelphia-reflections.com/displayTopicsBlogs.php?order=moddate&amp;table=volumes'>
                        {{nVolumes}} Volumes</a></p>

                {%  for volume in volume_list %}

                <p class='volumeColumn'>
                    <a class='volumeColumnLink' href='{{"http://www.philadelphia-reflections.com/volumes/#{volume.table_key}.htm"}}'</a>
                    {{volume.title|raw}}</a>
                    <br>{{volume.description|raw}}</p>
                {% else %}
                    Empty volume_list provided to template
                {% endfor %}

            </div> <!-- class="right-section"  -->

        </div> <!-- class="container"  -->

        <footer>
            Copyright © 2004 - {{ copyright_end_year }} George R. Fisher, MD. All rights reserved.

            <table class="contactUs" border="1">
                <tr>
                    <td><ul><li><a href="mailto:grfisheriii@gmail.com?Subject=Message%20from%20Philadelphia%20Reflections%20reader" target="_blank">Contact Us</a></li></ul></td>
                </tr>
            </table>

            {% include 'inc/statcounter.inc' %}
        </footer>

    </body>
</html>
