<!DOCTYPE html>

<html lang="en">
  <head>
    <meta name="viewport"                              content="width=device-width, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable"          content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <title>Philadelphia Reflections</title>

    <link rel="apple-touch-icon" href="images/apple-touch-icon.png" type="image/png">
    <link rel="shortcut icon"    href="images/favicon.ico"          type="image/x-icon">
    <link rel="icon"             href="images/favicon.ico"          type="image/x-icon">

    <link rel="stylesheet"       href="css/indexiphone.css">

      <!--                                      -->
      <!-- PHILADELPHIA REFLECTIONS             -->
      <!-- George R. Fisher III MD              -->
      <!--                                      -->
      <!-- (c) 2004 - {{ copyright_end_year }}                      -->
      <!--                                      -->

  </head>

  <body onload="setTimeout(function() { window.scrollTo(0, 1) }, 100);">

    <div id="top">
      <p>Philadelphia Reflections</p>
    </div>

    <div id="content">
        {%  for blog in blog_list %}

        <table>
            <tr>
                <td class='image'>{{blog.imgTag|raw}}</td>
                <td class='desc'>
                    <a href='{{"http://www.philadelphia-reflections.com/blog.php?key=#{blog.table_key}"}}'>
                        <span class='title'>{{blog.title|raw}}</span><br />
                        <span class='descr'>{{blog.description|raw}}</span></a></td>
                <td class='arrow'><a href='{{"http://www.philadelphia-reflections.com/blog.php?key=#{blog.table_key}"}}'>
                        <img src='images/right-arrow-1.png' alt='{iphone arrow}' width='30' height='30' /></a>
                </td>
            </tr>
        </table>
        {% else %}
            Empty blog_list provided to template
        {% endfor %}

    </div>

    <div id="footerhandheld">
      <p>
        <span class="links">
          <a class="home" href="http://www.philadelphia-reflections.com/indexiphone.php">HOME</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
          <a class="email" href="mailto:grfisheriii@gmail.com?subject=Message%20from%20an%20iPhone%20visitor">EMAIL</a></span><br />
        <span class="copyright">Copyright Dr. George Fisher 2004 - {{ copyright_end_year }}<br />All rights reserved</span>
      </p>
    </div>

  </body>
</html>
