<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="../css/reset.css"              rel="stylesheet">
        <link href="../css/three-col.css"          rel="stylesheet">
        <link href="../css/topic_compressed.css"   rel="stylesheet">
        <link href="../css/comment_entry_form.css" rel="stylesheet">
        <!-- <link href="../css/topic_left.css"          rel="stylesheet"> -->
        <!-- <link href="../css/topic_middle.css"        rel="stylesheet"> -->
        <!-- <link href="../css/topic_right.css"         rel="stylesheet"> -->

        <!--[if lt IE 9]>
        <script src="https://raw.githubusercontent.com/aFarkas/html5shiv/master/dist/html5shiv.min.js"></script>
        <script src="https://raw.githubusercontent.com/aFarkas/html5shiv/master/dist/html5shiv-printshiv.min.js"></script>
        <![endif]-->

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon" />
        <link rel="icon"          href="../images/favicon.ico" type="image/x-icon" />

        <link rel="search"        href="http://search.freefind.com/find.html?id=82328757" />

        <meta name="description" content="{{topic.plain_description}}" />
        <meta name="keywords"    content="{{topic.keywords}}" />

        <!-- FreeFind Map Title="{{topic.plain_title}}" -->

        <!--                                      -->
        <!-- PHILADELPHIA REFLECTIONS             -->
        <!-- George R. Fisher III MD              -->
        <!--                                      -->
        <!-- (c) 2004 - {{ copyright_end_year  }}                      -->
        <!--                                      -->
        {% if geotags == true %}
            {% include 'inc/insertMapCode.inc' %}
        {% endif %}

        <title>Philadelphia Reflections: {{ topic.plain_title }}</title>

        <style media="all">
            .middle {
                background: #FFFFFF;
            }
            .middle h3 {
                font-size: x-large;
                font-weight: bold;
            }
            .middle p {
                padding-top: 1%;
                line-height: 1.2;
                font-size: 110%;
                font-family: georgia, verdana, arial, sans-serif;
            }
            .commentFrame {
                background: #EEEEEE;
            }
            /* */
            .topicsColumnTop {
                margin-left:5px;
            }
            .volumeColumn {
                margin-left: 7px;
            }
            .individualColumnTop {
                margin-top: 55px;
                height: 30px;
            }
        </style>

        <style media="print">
            object, header, footer, .left, .right, .comment_entry_form, .overallFrame {
                display:none;
            }

        </style>

    </head>

    <body>
        <header>
            <a href="http://www.philadelphia-reflections.com">
                <h1>Philadelphia Reflections</h1>
                <h2>The musings of a physician who has served the community for over six decades</h2>
            </a>
        </header>

        <div class="container">

            <div class="left">
                {% include 'inc/freeform.inc' %}

                <p style="margin-top:10px;" class="topicsColumnTop">Volumes</p>
                {%  for volume in volume_list %}

                <p class="volumeColumn">
                    <a class="volumeColumnLink" href='{{"http://www.philadelphia-reflections.com/volume/#{volume.table_key}.htm"}}'>{{volume.plain_title}}</a>
                    <br />{{ volume.description | raw}}</p>
                {% else %}
                    <p>No volumes are associated with this topic</p>
                {% endfor %}

            </div> <!-- class="left" -->

            <div class="middle">

                <!--        the topic        -->
                <p style="text-align:left;color: red;text-transform: uppercase; font-size: 14pt;font-weight:bold;margin-bottom:10px;">{{ topic.title | raw }}</p>
                <p style="margin:0 auto; margin-bottom:15px;font-size:120%; padding:20px; border-style:solid; border-width:1px">{{ topic.description | raw}}</p>
                {{ topic.topic_contents | raw }}

                <hr><!-- blogs begin here -->
                {% for blog in blog_list %}

                <h3 style="margin-top: 25px;"><a href='{{"http://www.philadelphia-reflections.com/blog/#{blog.table_key}.htm"}}'>{{blog.title | raw}}</a></h3>
                {{ blog.blog_contents | raw }}
                {% else %}
                    <p>No blogs are associated with this topic</p>
                {% endfor %}


                {% if geotags == true %}
                    {# include 'inc/google_map_table.inc' #}
                    <!-- Google Map display table will go here -->
                {%  endif %}

                <!--   the comments    -->
                {%  for comment in comment_list %}

                <div class='overallFrame'>
                    <div class='commentFrame'>
                        {{ comment.comments | raw}}
                    </div>
                    <div class='userFrame'>
                        <table style='width:100%'>
                            <tr><td>Posted by: <span style='font-weight:bold'>{{ comment.name }}</span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;{{ comment.fmt_date }}</td>
                        </table>
                    </div>
                </div>
                {% else %}

                    <p>&nbsp;</p>
                {% endfor %}

                {% include 'inc/comment_entry_form.inc' %}

            </div> <!-- class="middle" -->

            <div class="right">

                <p class="individualColumnTop">Blogs</p>
                {%  for blog in blog_list %}

                    <p class="individualColumn">
                        <a class="individualColumnLink" href='{{"http://www.philadelphia-reflections.com/blog/#{blog.table_key}.htm"}}'>{{blog.plain_title}}</a>
                        <br />{{ blog.description | raw}}</p>
                {% else %}
                    <p>No blogs are associated with this topic</p>
                {% endfor %}
            </div> <!-- class="right" -->

        </div> <!-- class="container" -->

        <footer>
            Copyright © 2004 - {{ copyright_end_year }} George R. Fisher, MD. All rights reserved.

            <table class="contactUs" border="1">
                <tr>
                    <td><ul><li><a href="mailto:grfisheriii@gmail.com?Subject=Message%20from%20Philadelphia%20Reflections%20reader" target="_blank">Contact Us</a></li></ul></td>
                </tr>
            </table>

            {% include 'inc/statcounter.inc' %}
        </footer>

    </body>

</html>
