<html lang="en">
    <head>
        <meta charset="UTF-8">

        <link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon" />
        <link rel="icon"          href="../../images/favicon.ico" type="image/x-icon" />

        <title>Generate a POST form</title>


    </head>

    <body>
        {%  if isset == false %}
        <form action="post.php" method="post">
            Blog ID:<br>
            <input type="text" name="table_key" placeholder="{{blog.table_key}}">

            <br><br>
            <input type="submit" name="submit" value="Submit">
        </form>
        {%  else %}
            <table style="width:100%">

                <tr style='margin:0;padding:0;'><td>
                        <table title='table in a table: Google search + duplicate button' style='margin:0;padding:0;width:100%;'>
                            <tr><td>
                                    <form method="get" target="SearchScr" action="http://www.google.com/search" style='margin:0;padding:0;'>
                                        <input type="text"   name="q" size="31" maxlength="255" value="" style='border: 2px solid black;' />
                                        <input type="submit" value="Google Search" />
                                    </form>

                                    <a href="create_referenceHTML1.php" onclick="window.open(this.href); return false;">Create HTML for References</a>
                                </td><td>
                                    <form method='post' action='duplicate_blog.php' style='margin:0;padding:0;'>
                                        <input type='hidden' name='blog_to_be_replicated' value='{{blog.table_key}}' />
                                        <input type='submit' value='Create a replica of this blog' style='background-color:gray;color:white;font-size:x-large;' />
                                    </form>
                                </td></tr>
                        </table>
                    </td></tr>

                <tr style='margin-top:0;'><td style="width:90%">
        <form name="blog_mod2_form" id="blog_mod2_form"
              action="reflectionsBlogModStep3.php"
              method="post"
              style="background-color:Khaki;margin-top:20px;margin-bottom:0px;margin-right:auto;margin-left:auto;font-family:arial, sans-serif;font-size:10pt">

                <p align='center'>Modify <b>A Prophet In Our Valley</b> (http://www.philadelphia-reflections.com/blog/<span style='font-weight:bold;text-decoration:underline;font-size:x-large;'>{{blog.table_key}}</span>.htm)</p>

                <p align="center"><a href="#geotag_jump">Jump down to <b>GEO TAGS</b></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#blog_contents_jump">Jump down to <b>BLOG CONTENTS</b></a></p>

                <p>{ILQ-quote}<br />{description} _or_ quotation<br />{ILQ-caption}<br />(optional) caption<br />{ILQ-end}</p>

                <input type="submit" name="form_button_attop" id="form_button_attop" value="Click once to modify" /><br /><br />

            <fieldset><legend><b>Blog Entry</b></legend>

            Title: <input    name="title"    type="text" size="90" maxlength="255" value="{{blog.title}}" />    <br /><br />
            Keywords: <input name="keywords" type="text" size="90" maxlength="255" value="{{blog.keywords}}" /> <br />

            <input    name="table_key"	type="hidden" value="{{blog.table_key}}" />
            <input    name="filename"	type="hidden" value="{{blog.filename}}" />

            <hr />Description:<br />

                <textarea name="description" rows="7" cols="125">
                    {{ blog.description }}
		         </textarea><br />

                <ul>
                    <li>50-pixel image thumbnails
                        <ul>
                            <li>Float to the <u>left</u>
                                <ul>
                                    <li>50 pixels <b>tall</b> class="tn-l-h50"</li>
                                    <li>50 pixels <b>wide</b> class="tn-l-w50"</li>
                                </ul>
                            </li>
                        </ul>
                    <li style="list-style: none"><br /></li>

                    <li>100-pixel image thumbnails
                        <ul>
                            <li>Float to the <u>left</u>
                                <ul>
                                    <li>100 pixels <b>tall</b> class="tn-l-h100"</li>
                                    <li>100 pixels <b>wide</b> class="tn-l-w100"</li>
                                </ul>
                            </li>
                        </ul>
                </ul>

            </fieldset>

            <fieldset><legend><b>Main Page Visibility</b></legend>
                <input type="text" size="4" maxlength="4" name="center_order" id="center_order" value="{{blog.center_order}}" /> 0 = don't show
            </fieldset>

            <input type="submit" name="form_button_under_visibility" id="form_button_under_visibility" value="Click once to modify" />

            <fieldset><legend><b><a name="geotag_jump" id="geotag_jump">Geo Tags</a></b></legend>

                <p>Address <input type="text" name="geo_address" size="75" maxlength="255" value="{{blog.geo_address}}" /><br />
                    Look up address coordinates <a href="http://geourl.org/add/helper" target="_blank">GeoURL</a> | <a href="http://www.multimap.com/" target="_blank">Multimap</a></p>

                <p>
                    Lat <input type="text" name="geo_lat" size="15" value="{{blog.geo_lat}}" />
                    Lon <input type="text" name="geo_lon" size="15" value="{{blog.geo_lon}}" /> (Lon is negative for Western Hemisphere)</p>

                <p>Descriptive Place Name <input type="text" name="geo_placename" size="30" maxlength="255" value="{{blog.geo_placename}}" /></p>

                <p>
                    Region       <input type="text" name="geo_region"	size="10"	maxlength="15"	value="{{blog.geo_region}}" />
                    Country Code <input type="text" name="geo_country_code"	size="4"			value="{{blog.geo_country_code}}" />
                    Country Name <input type="text" name="geo_country"	size="20"	maxlength="255"	value="{{blog.geo_country}}" />
                    <br />

                    <a href="http://geotags.com/iso3166/countries.html" target="_blank">
                        Look up region, country and country code</a> (click country code for region list)</p>
            </fieldset>

            <fieldset><legend><b>The Blog Itself</b></legend>
                Blog Contents: &nbsp; <span style='font-weight: bold;font-size: 150%;'>&lt;p class="firstDrop"&gt;</span><br />

                <textarea name="blog_contents" rows="110" cols="145">
                    {{ blog.blog_contents }}
                </textarea><br />

                <input type="submit" name="form_button" id="form_button" value="Click once to modify" /> table_key = {{blog.table_key}}

            </fieldset>
        </form>

            </td><td style="width:30%"><center>
                <table style="text-align:left;font-size:90%" title="topic_title_list">
                    {% for topic in topic_list %}
                    <tr style="font-size:80%"><td>{{topic.table_key}}</td><td><a href="http://www.philadelphia-reflections.com/topic/lphia_style.php" target="_blank">Investing, Philadelphia Style</a></td></tr><tr><td>&nbsp;</td></tr>
                    <tr style="font-size:80%"><td>49</td><td><a href="http://www.philadelphia-reflections.com/reflections.php?content=topics_php/quakers_all_alike_all.php" target="_blank">Quakers: All Alike, All Different</a></td></tr><tr><td>&nbsp;</td></tr>
                    <tr style="font-size:80%"><td>148</td><td><a href="http://www.philadelphia-reflections.com/reflections.php?content=topics_php/chester_and_delaware_counties.php" target="_blank">Chester  County, Pennsylvania</a></td></tr><tr><td>&nbsp;</td></tr>
                    {% endfor %}
                </table></center></td></tr>


            <tr style='margin:0;padding:0;'><td>
                    <a href="create_referenceHTML1.php" onclick="window.open(this.href); return false;">Create HTML for References</a>
                    <form method="get" target="SearchScr" action="http://www.google.com/search" style='margin:0;padding:0;'>
                        <input type="text"   name="q" size="31" maxlength="255" value="" style='border: 2px solid black;' />
                        <input type="submit" value="Google Search"  />
                    </form>
                </td></tr>
            </table>




            <input type="submit" name="submit" />
        </form>

        {# blog.description | raw #}


        {% endif %}
    </body>

</html>