<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Display blogs, topics, volumes by moddate</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link href="../css/index_compressed.css" rel="stylesheet">

    <!--                                           -->
    <!-- Display blogs, topics, volumes by moddate -->
    <!--                                           -->

    <script type="text/javascript">

        /* javascript function called by the radio buttons to submit the form when clicked */

        function blogSubmit()
        {
            document.getElementById("blog_mod1_form").submit()
        }
        function topicSubmit()
        {
            document.getElementById('topic_mod1_form').submit();
        }
        function volumeSubmit()
        {
            document.getElementById("volume_mod1_form").submit()
        }
        function collectionSubmit()
        {
            document.getElementById("collection_mod1_form").submit()
        }

    </script>
</head>

<body>

<div class="container">
    <div class="row row-centered">
        <header class="text-center">
           <h1>Blogs, Topics, Volumes & Collections</h1>
           <h3>in descending order by date last modified</h3>
            <h4>Total {{ nTotal | number_format(0, '.', ',') }}</h4>
        </header>

        <div class="border col-lg-3" id="col-blogs">
            <form name="blog_mod1_form" id="blog_mod1_form"
                  action="reflectionsBlogModStep2.php"
                  method="post"
                  target="_blank"
                  style="">

                <p class='individualColumnTop' style='-moz-border-radius: 5px;border-radius: 5px;'>
                    Blogs<br>{{ nBlogs | number_format(0, '.', ',') }}</p>

                {% for blog in blog_list %}

                    <p class='individualColumn'>
                        <input type="radio" name="key" value="{{ blog.table_key }}" onclick="blogSubmit();"/>
                        {{ blog.table_key }}
                        <a class='individualColumnLink'
                           href='{{ "http://www.philadelphia-reflections.com/blog/#{blog.table_key}.htm" }}'
                           target="_blank">
                            {{ blog.title|raw }}</a>
                        <br>
                        <span style="font-size:small">
                    {{ blog.description|raw }}
                </span>
                        <br><br>{{ blog.moddate_fmt }}{{ blog.invisible|raw }}</p>
                {% else %}
                    <h1>Empty blog_list provided to template</h1>
                {% endfor %}
            </form>


        </div>


        <div class="border col-lg-3" id="col-topics">
            <form name="topic_mod1_form" id="topic_mod1_form"
                  action="reflectionsTopicsModStep2.php"
                  method="post"
                  target="_blank"
                  style="">

                <p class='topicsColumnTop' style='-moz-border-radius: 5px;border-radius: 5px;'>
                    Topics<br>{{ nTopics | number_format(0, '.', ',') }}</p>

                {% for topic in topic_list %}

                    <p class='topicsColumn'>
                        <input type="radio" name="key" value="{{ topic.table_key }}" onclick="topicSubmit();"/>
                        {{ topic.table_key }}
                        <a class='topicsColumnLink'
                           href='{{ "http://www.philadelphia-reflections.com/topic/#{topic.table_key}.htm" }}'
                           target="_blank">
                            {{ topic.title|raw }}</a>
                        <br>
                        <span style="font-size:small">
                    {{ topic.description|raw }}
                </span>
                        <br><br>{{ topic.moddate_fmt }}{{ topic.invisible|raw }}</p>
                {% else %}
                    <h1>Empty topic_list provided to template</h1>
                {% endfor %}
            </form>
        </div>

        <div class="border col-lg-3" id="col-volumes">
            <form name="volume_mod1_form" id="volume_mod1_form"
                  action="reflectionsVolumesModStep2.php"
                  method="post"
                  target="_blank"
                  style="">
                <p class='topicsColumnTop' style='-moz-border-radius: 5px;border-radius: 5px;'>
                    Volumes<br>{{ nVolumes | number_format(0, '.', ',') }}</p>

                {% for volume in volume_list %}

                    <p class='volumeColumn'>
                        <input type="radio" name="key" value="{{volume.table_key}}" onclick="volumeSubmit();" />
                        {{ volume.table_key }}
                        <a class='volumeColumnLink'
                           href='{{ "http://www.philadelphia-reflections.com/volumes/#{volume.table_key}.htm" }}'
                           target="_blank">
                            {{ volume.title|raw }}</a>
                        <br>
                        <span style="font-size:small">
                    {{ volume.description|raw }}
                </span>
                        <br><br>{{ volume.moddate_fmt }}{{ volume.invisible|raw }}</p>
                {% else %}
                    <h1>Empty volume_list provided to template</h1>
                {% endfor %}
            </form>
        </div>

        <div class="border col-lg-3" id="col-collections">
            <form name="collection_mod1_form" id="collection_mod1_form"
                 action="reflectionsCollectionsModStep2.php"
                 method="post"
                 target="_blank"
                 style="">
                <p class='topicsColumnTop' style='-moz-border-radius: 5px;border-radius: 5px;'>
                    Collections<br>{{ nCollections | number_format(0, '.', ',') }}</p>

                {% for collection in collection_list %}

                    <p class='volumeColumn'>
                        <input type="radio" name="key" value="{{collection.table_key}}" onclick="collectionSubmit();" />
                        {{ collection.table_key }}
                        <a class='volumeColumnLink'
                           href='{{ "http://www.philadelphia-reflections.com/collections/#{collection.table_key}.htm" }}'
                           target="_blank">
                            {{ collection.title|raw }}</a>
                        <br>
                        <span style="font-size:small">
                    {{ collection.description|raw }}
                </span>
                        <br><br>{{collection.moddate_fmt }}{{ collection.invisible|raw }}</p>
                {% else %}
                    <h1>Empty collection_list provided to template</h1>
                {% endfor %}
            </form>
        </div>
    </div>
</div>


</body>

</html>